
@{
    ViewData["Title"] = "Index Customer";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create</title>

    <!-- Custom fonts for this theme -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/css/freelancer.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/jquery.timepicker.min.css">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Dhiphaya Insurance</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/GeneralClaimCustomer/Index">Generate Claim</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Accounts/Index">Log Out</a>
                    </li>
                    @*<li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead -->


    <div class="container">
        <div class="py-5 text-center">
            @*<img class="d-block mx-auto mb-4" src="./Checkout example · Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">*@
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>ตัวอย่างแบบฟอร์มผู้เอาประกันภัย</h2>
            @*<p class="lead">แบบฟอร์มการเอาประกันภัยทั้ง 4 แบบ</p>*@
        </div>

        <div class="row">

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">ใบแจ้งความเสียหาย</h4>
                @*<form class="needs-validation" novalidate="">*@
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label for="firstName">วันที่รับแจ้ง</label>
                        <input type="date" class="form-control date" id="date">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="incidentdate">วันที่เกิดเหตุ</label>
                        <input type="date" class="form-control date" id="incidentDate" >
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="incidentdate">เวลาที่เกิดเหตุ</label>
                        <input type="datetime" class="form-control timepicker" id="timeIncidentDate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="phujang">ผู้แจ้ง</label>
                        <input type="text" class="form-control" id="nameClaim" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="phone">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" id="phoneClaim" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="email">อีเมล</label>
                        <input type="email" class="form-control" id="emailClaim" placeholder="" value="" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="phutidtor">ผู้ติดต่อ</label>
                        <input type="text" class="form-control" id="nameContact" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="phone">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" id="phoneContact" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="email">อีเมล</label>
                        <input type="email" class="form-control" id="emailContact" placeholder="" value="" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="insuranceNo">เลขที่กรมธรรม์</label>
                        <input type="text" class="form-control" id="insuranceNo" placeholder="" value="" required="">
                    </div>
                </div>
                <br>
                <h4 class="mb-4">สถานที่เกิดเหตุ</h4>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="place">สถานที่</label>
                        <input type="text" class="form-control" id="place" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="soi">ซอย</label>
                        <input type="text" class="form-control" id="soi" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="road">ถนน</label>
                        <input type="text" class="form-control" id="road" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="province">จังหวัด</label>
                        <input type="text" class="form-control" id="province" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="causeLoss">ลักษณะบ้าน</label>
                        <select class="custom-select d-block w-100" id="typeHouse" required="">
                            <option value="0" selected="selected">Choose...</option>
                            <option value="1">บ้านเดี่ยว</option>
                            <option value="2">ทาวน์เฮาส์</option>
                            <option value="3">ห้องชุด</option>
                            <option value="4">บ้านแฝด</option>
                            <option value="5">อาคารพาณิชย์</option>
                        </select>
                    </div>

                    <div class="col-md-8 mb-8 meterialChk" id="meterialChk">
                        <label>บริเวณที่เสียหาย</label><br>
                        <label class="checkbox-inline"><input type="checkbox" value="1" id="floor">งานพื้น</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="2" id="wall">งานผนัง</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="3" id="ceiling">งานฝ้า</label><br>
                        <label class="checkbox-inline"><input type="checkbox" value="4" id="roof">งานมุงหลังคา</label>&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="5" id="glass">งานกระจก</label>&nbsp;&nbsp;
                        <label class="checkbox-inline"><input type="checkbox" value="6" id="etc">อื่นๆ</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4" id="meterialFloor">
                        <label for="causeLoss">วัสดุงานพื้นที่เสียหาย</label>
                        <select class="custom-select d-block w-100" id="meterialFloorSelect">
                            <option value="0" selected="selected">Choose...</option>
                            <option value="1">ปาร์เก้ไม้สัก</option>
                            <option value="2">ปาร์เก้ไม้มะค่า</option>
                            <option value="3">ปาร์เก้ไม้แดง</option>
                            <option value="4">ปาร์เก้ไม้ประดู่</option>
                            <option value="5">ปาร์เก้สำเร็จรูป</option>
                            <option value="6">พื้นปูโมเสคไม้</option>
                            <option value="7">พื้นกระเบื้อง</option>
                            <option value="8">พื้นแผ่นยาง</option>
                            <option value="9">
                                พื้นลามิเนต
                            </option>
                            <option value="10">
                                พื้นปูนขัดมัน
                            </option>
                            <option value="11">
                                พื้นปูนขัดหยาบ
                            </option>
                            <option value="12">
                                พื้นหินขัด
                            </option>
                            <option value="13">
                                ทาสี
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsFloor">
                        <label>จำนวน</label>
                        <input type="text" class="form-control" id="piecesFloor" placeholder="100" value="">
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsFloor">
                        <label>หน่วย</label>
                        <select class="custom-select d-block w-100" id="unitFloor">
                            <option value="1" selected="selected">บาน</option>
                            <option value="2">ตารางเมตร</option>
                            <option value="3">เมตร</option>
                            <option value="4">เหมา</option>
                            <option value="5">ชิ้น</option>
                            <option value="6">หน่วย</option>
                            <option value="7">เปลี่ยน</option>
                            <option value="8">เกล็ด</option>
                            <option value="9">ซ่อมแซม</option>
                            <option value="10">แผ่น</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4" id="meterialWall">
                        <label for="causeLoss">วัสดุงานผนังที่เสียหาย</label>
                        <select class="custom-select d-block w-100" id="meterialWallSelect">
                            <option value="0" selected="selected">Choose...</option>
                            <option value="1">
                                ผนังก่ออิฐมอญ
                            </option>
                            <option value="2">
                                ผนังกระเบื้องเซรามิค
                            </option>
                            <option value="3">
                                ผนังอิฐบล็อก
                            </option>
                            <option value="4">
                                ผนังอิฐบล็อกช่องลม
                            </option>
                            <option value="5">
                                ผนังอิฐบล็อกกระจก
                            </option>
                            <option value="6">
                                ผนังอิฐบล็อกมวลเบา
                            </option>
                            <option value="7">
                                ผนังบุกระเบื้องเคลือบ
                            </option>
                            <option value="8">
                                ผนังก่ออิฐมอญ
                            </option>
                            <option value="9">
                                ผนังกระเบื้องเซรามิค
                            </option>
                            <option value="10">
                                ผนังอิฐบล็อก
                            </option>
                            <option value="11">
                                ผนังอิฐบล็อกช่องลม
                            </option>
                            <option value="12">
                                ผนังอิฐบล็อกกระจก
                            </option>
                            <option value="13">
                                ผนังอิฐบล็อกมวลเบา
                            </option>
                            <option value="14">
                                ผนังบุกระเบื้องเคลือบ
                            </option>
                            <option value="15">
                                ผนังก่ออิฐมอญ
                            </option>
                            <option value="16">
                                ผนังกระเบื้องเซรามิค
                            </option>
                            <option value="17">
                                ผนังอิฐบล็อก
                            </option>
                            <option value="18">
                                ผนังอิฐบล็อกช่องลม
                            </option>
                            <option value="19">
                                ผนังอิฐบล็อกกระจก
                            </option>
                            <option value="20">
                                ผนังอิฐบล็อกมวลเบา
                            </option>
                            <option value="21">
                                ผนังบุกระเบื้องเคลือบ
                            </option>
                            <option value="22">
                                ผนังบุกระเบื้องเคลือบ
                            </option>
                            <option value="23">
                                ผนังบุกระเบื้องเคลือบ
                            </option>
                            <option value="24">
                                ทาสี
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsWall">
                        <label>จำนวน</label>
                        <input type="text" class="form-control" id="piecesWall" placeholder="100" value="">
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsWall">
                        <label>หน่วย</label>
                        <select class="custom-select d-block w-100" id="unitWall">
                            <option value="1" selected="selected">บาน</option>
                            <option value="2">ตารางเมตร</option>
                            <option value="3">เมตร</option>
                            <option value="4">เหมา</option>
                            <option value="5">ชิ้น</option>
                            <option value="6">หน่วย</option>
                            <option value="7">เปลี่ยน</option>
                            <option value="8">เกล็ด</option>
                            <option value="9">ซ่อมแซม</option>
                            <option value="10">แผ่น</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4" id="meterialCeiling">
                        <label for="causeLoss">วัสดุงานฝ้าที่เสียหาย</label>
                        <select class="custom-select d-block w-100" id="meterialCeilingSelect">
                            <option value="0" selected="selected">Choose...</option>
                            <option value="1">
                                ฝ้าฉาบเรียบ
                            </option>
                            <option value="2">
                                ฝ้าทีบาร์
                            </option>
                            <option value="3">
                                ฝ้ายิปซั่มบอร์ด
                            </option>
                            <option value="4">
                                แผ่นกระเบื้องซีเมนต์เส้นใยแผ่นเรียบ
                            </option>
                            <option value="5">
                                ระแนงไม้
                            </option>
                            <option value="6">
                                ระแนงเหล็ก
                            </option>
                            <option value="7">
                                เพดานฉาบปูน
                            </option>
                            <option value="8">
                                ฝ้าเพดานอคูสติกบอร์ด
                            </option>
                            <option value="9">
                                ทาสี
                            </option>
                        </select>

                    </div>
                    <div class="col-md-3 mb-3 meterialAnsCeiling">
                        <label>จำนวน</label>
                        <input type="text" class="form-control" id="piecesCeiling" placeholder="100" value="">
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsCeiling">
                        <label>หน่วย</label>
                        <select class="custom-select d-block w-100" id="unitCeiling">
                            <option value="1" selected="selected">บาน</option>
                            <option value="2">ตารางเมตร</option>
                            <option value="3">เมตร</option>
                            <option value="4">เหมา</option>
                            <option value="5">ชิ้น</option>
                            <option value="6">หน่วย</option>
                            <option value="7">เปลี่ยน</option>
                            <option value="8">เกล็ด</option>
                            <option value="9">ซ่อมแซม</option>
                            <option value="10">แผ่น</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4" id="meterialRoof">
                        <label for="causeLoss">วัสดุงานหลังคาที่เสียหาย</label>
                        <select class="custom-select d-block w-100" id="meterialRoofSelect">
                            <option value="0" selected="selected">Choose...</option>
                            <option value="1">
                                หลังคากระเบื้องลอนคู่
                            </option>
                            <option value="2">
                                ครอบสันโค้งกระเบื้องลอนคู่
                            </option>
                            <option value="3">
                                ครอบตะเฆ่กระเบื้องลอนคู่
                            </option>
                            <option value="4">
                                ครอบเพิงแหงนกระเบื้องลอนคู่
                            </option>
                            <option value="5">
                                ชนฝากระเบื้องลอนคู่
                            </option>
                            <option value="6">
                                กระเบื้องคอนกรีต
                            </option>
                            <option value="7">
                                ครอบสันโค้งกระเบื้องคอนกรีต
                            </option>
                            <option value="8">
                                กระเบื้องโปร่งแสง
                            </option>
                            <option value="9">
                                แผ่นเหล็กรีดลอน
                            </option>
                            <option value="10">
                                สังกะสีลูกฟูก
                            </option>
                            <option value="11">
                                ทาสี
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsRoof">
                        <label>จำนวน</label>
                        <input type="text" class="form-control" id="piecesRoof" placeholder="100" value="">
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsRoof">
                        <label>หน่วย</label>
                        <select class="custom-select d-block w-100" id="unitRoof">
                            <option value="1" selected="selected">บาน</option>
                            <option value="2">ตารางเมตร</option>
                            <option value="3">เมตร</option>
                            <option value="4">เหมา</option>
                            <option value="5">ชิ้น</option>
                            <option value="6">หน่วย</option>
                            <option value="7">เปลี่ยน</option>
                            <option value="8">เกล็ด</option>
                            <option value="9">ซ่อมแซม</option>
                            <option value="10">แผ่น</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4" id="meterialGlass">
                        <label for="causeLoss">วัสดุงานกระจกที่เสียหาย</label>
                        <select class="custom-select d-block w-100" id="meterialGlassSelect">
                            <option value="0" selected="selected">Choose...</option>
                            <option value="1">
                                กระจกแผ่นใส
                            </option>
                            <option value="2">
                                กระจกแผ่นฝ้า
                            </option>
                            <option value="3">
                                กระจกแผ่นสีชา
                            </option>
                            <option value="4">
                                กระจกบานเกล็ด
                            </option>
                            <option value="5">
                                กระจกนิรภัยเทมเปอร์ใส
                            </option>
                            <option value="6">
                                กระจกนิรภัยเทมเปอร์เขียว
                            </option>
                            <option value="7">
                                กระจกลามิเนต
                            </option>
                            <option value="8">
                                ทาสี
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsGlass">
                        <label>จำนวน</label>
                        <input type="text" class="form-control" id="piecesGlass" placeholder="100" value="">
                    </div>
                    <div class="col-md-3 mb-3 meterialAnsGlass">
                        <label>หน่วย</label>
                        <select class="custom-select d-block w-100" id="unitGlass">
                            <option value="1" selected="selected">บาน</option>
                            <option value="2">ตารางเมตร</option>
                            <option value="3">เมตร</option>
                            <option value="4">เหมา</option>
                            <option value="5">ชิ้น</option>
                            <option value="6">หน่วย</option>
                            <option value="7">เปลี่ยน</option>
                            <option value="8">เกล็ด</option>
                            <option value="9">ซ่อมแซม</option>
                            <option value="10">แผ่น</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 mb-4" id="meterialEtc">
                        <label for="causeLoss">กรุณาระบุ งานอื่นๆ</label>
                        <textarea type="text" id="meterialEtcSelect" row="7" cols="50" placeholder="กรุณาระบุ งาน จำนวน หน่วย" class="form-control"></textarea>
                    </div>
                    @*<div class="meterialAnsEtc">
                            <label>*ระบุจำนวน หน่วย</label>
                            <textarea typeof="text" rows="3" cols="45" class="form-control" id="piecesEtc"  value="">
                            </textarea>
                        </div>*@
                    @*<div class="col-md-3 mb-3 meterialAnsEtc">
                            <label>หน่วย</label>
                            <select class="custom-select d-block w-100" id="unitEtc">
                                <option value="1" selected="selected">บาน</option>
                                <option value="2">ตารางเมตร</option>
                                <option value="3">เมตร</option>
                                <option value="4">เหมา</option>
                                <option value="5">ชิ้น</option>
                                <option value="6">หน่วย</option>
                                <option value="7">เปลี่ยน</option>
                                <option value="8">เกล็ด</option>
                                <option value="9">ซ่อมแซม</option>
                                <option value="10">แผ่น</option>
                            </select>
                        </div>*@
                </div>
                <br />
                <h4 class="mb-3">ลักษณะความเสียหาย</h4>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="causeLoss">ลักษณะความเสียหาย</label>
                        <select class="custom-select d-block w-100" id="causeIncident" required="">
                            <option value="0">Choose...</option>
                            <option value="1">น้ำท่วม</option>
                            <option value="2">ภัยเนื่องจากน้ำ</option>
                            <option value="3">ภัยลมพายุ</option>
                            <option value="4">อัคคีภัย</option>
                            <option value="5">ไฟฟ้าลัดวงจาร</option>
                            <option value="6">ภัยจากเครื่องใช้ไฟฟ้า</option>
                            <option value="7">ภัยจากยวดยานภาหนะ</option>
                            <option value="8">ภัยแผ่นดินไหว</option>
                            <option value="9">ภัยฟ้าผ่า</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="causeLossDetail">รายละเอียดความเสียหายของทรัพย์สิน</label>
                        <textarea rows="7" cols="50" type="text" class="form-control" id="causeIncidentDetail"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="lossPrice">ประมาณการค่าเสียหาย</label>
                        <div class="form-group">
                            <input type="number" class="form-control" id="incidentPrice">
                        </div>
                    </div>
                    <div class="">
                        <br>
                        <br>
                        <text>บาท</text>
                    </div>
                </div>


                <h4 class="mb-3">รายละเอียดของทรัพย์สิน</h4>
                <div class="row">
                    <div class="col-md-10 mb-3">
                        <p>
                            <label for="website">3.1 ท่านเป็นเจ้าของอาคารหรือทรัพย์สินที่ได้รับความเสียหายแต่เพียงผู้เดียวหรือไม่ ถ้าไม่ใช่ โปรดระบุผู้มีกรรมสิทธิ์ร่วมหรือผู้มีส่วนได้เสียอื่นๆ (เช่น ผู้กู้ร่วม หรือ เจ้าของร่วม) </label>
                            <input type="radio" name="IsIndividual" value="Y">ใช่
                            <input type="radio" name="IsIndividual" value="N" checked="checked">ไม่ใช่
                            <input class="inputText" type="text" id="IsIndividual_remark" name="IsIndividual_remark">
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-10 mb-3">
                        <p>
                            <label for="website">3.2 ช่วงเวลาเกิดเหตุ อาคารหรือสถานที่เอาประกันภัยถูกทิ้งร้างเกิน 60 วันหรือไม่ </label><br>
                            <input type="radio" name="IsDisused" value="Y">ใช่
                            <input type="radio" name="IsDisused" value="N" checked="checked">ไม่ใช่
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-10 mb-3">
                        <p>
                            <label for="website">3.3 ณ.เวลาที่เกิดเหตุครั้งนี้ ท่านมีกรมธรรม์ประกันภัยที่ให้ความคุ้มครองทรัพย์สินฉบับอื่นที่มีผลใช้บังคับอยู่หรือไม่ </label><br />
                            <input type="radio" name="IsAnotherPolicy" value="Y">ใช่
                            <input type="radio" name="IsAnotherPolicy" value="N" checked="checked">ไม่ใช่
                        </p>
                    </div>

                </div>
                @*<div class="col-md-4 mb-3">
                        <p>

                        </p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <p>

                        </p>
                    </div>*@

                <h4 class="mb-3">รายละเอียดของผู้กรณี (หากมี)</h4>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="lossPrice">ชื่อคู่กรณี</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nameKorany">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="causeLossDetail">เบอร์โทรศัพท์</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phoneKorany">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="nameInsur">ชื่อบริษัทประกันภัย</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nameInsuredCompany">
                        </div>
                    </div>
                </div>
                @*<h4 class="mb-4">รายละเอียดของทรัพย์สิน</h4>
                    <div class="row">
                        <div class="">
                            <p>
                                <label for="website">3.1 ท่านเป็นเจ้าของอาคารหรือทรัพย์สินที่ได้รับความเสียหายหรือไม่ ถ้าไม่ใช่ โปรดระบุว่าท่านเป็นผู้เช่า หรือ ผู้อาศัย หรืออื่นๆ</label>
                                <input type="radio" name="IsPlaceOwner" value="Y">ใช่
                                <input type="radio" name="IsPlaceOwner" value="N" checked="checked">ไม่ใช่
                                <input class="inputText" type="text" id="IsPlaceOwner_remark" name="IsPlaceOwner_remark">
                            </p>
                            <p>
                                <label for="website">3.2 ท่านเป็นเจ้าของอาคารหรือทรัพย์สินที่ได้รับความเสียหายแต่เพียงผู้เดียวหรือไม่ ถ้าไม่ใช่ โปรดระบุผู้มีกรรมสิทธิ์ร่วมหรือผู้มีส่วนได้เสียอื่นๆ (เช่น ผู้กู้ร่วม หรือ เจ้าของร่วม) </label>
                                <input type="radio" name="IsIndividual" value="Y">ใช่
                                <input type="radio" name="IsIndividual" value="N" checked="checked">ไม่ใช่
                                <input class="inputText" type="text" id="IsIndividual_remark" name="IsIndividual_remark">
                            </p>
                            <p>
                                <label for="website">3.3 ช่วงเวลาเกิดเหตุ อาคารหรือสถานที่เอาประกันภัยถูกทิ้งร้างเกิน 60 วันหรือไม่ </label><br>
                                <input type="radio" name="IsDisused" value="Y">ใช่
                                <input type="radio" name="IsDisused" value="N" checked="checked">ไม่ใช่
                            </p>
                            <p>
                                <label for="website">3.4 สถานที่หรือทรัพย์สินที่เอาประกันภัยไว้ เคยสูญเสียหรือความเสียหายโดยไฟไหม้หรือภัยพิบัติอื่นๆ ที่เอาประกันภัยไว้ภายใต้กรมธรรม์ประกันภัยหรือไม่ ถ้าใช่ โปรดระบุภัยและชื่อบริษัทรับประกันภัย </label>
                                <input type="radio" name="IsClaimBefore" value="Y">ใช่
                                <input type="radio" name="IsClaimBefore" value="N" checked="checked">ไม่ใช่
                                <input class="inputText" type="text" id="IsClaimBefore_remark" name="IsClaimBefore_remark">
                            </p>
                            <p>
                                <label for="website">3.5 ณ.เวลาที่เกิดเหตุครั้งนี้ ท่านมีกรมธรรม์ประกันภัยที่ให้ความคุ้มครองทรัพย์สินฉบับอื่นที่มีผลใช้บังคับอยู่หรือไม่ </label><br />
                                <input type="radio" name="IsAnotherPolicy" value="Y">ใช่
                                <input type="radio" name="IsAnotherPolicy" value="N" checked="checked">ไม่ใช่
                            </p>
                        </div>
                    </div>

                    <h4 class="mb-3">รายละเอียดของผู้กรณี (หากมี)</h4>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="lossPrice">ชื่อคู่กรณี</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nameKorany">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="causeLossDetail">เบอร์โทรศัพท์</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="phoneKorany">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="nameInsur">ชื่อบริษัทประกันภัย</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nameInsuredCompany">
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-3">เอกสารประกอบการพิจารณาค่าสินไหมทดแทน</h4>
                    <label>หนังสือเรียกร้องค่าสินไหมทดแทน</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile" multiple="">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <label>กรมธรรม์ประกันภัย</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile2" multiple="">
                        <label class="custom-file-label" for="customFile2">Choose file</label>
                    </div>
                    <label>ภาพถ่ายความสูญเสียหรือความเสียหายของทรัพย์สินที่เอาประกันภัย</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile3" multiple="">
                        <label class="custom-file-label" for="customFile3">Choose file</label>
                    </div>
                    <label>สำเนาใบแจ้งความเพื่อดำเนินคดี (ในกรณีเหตุโจรกรรม/ได้รับความเสียหายจากบุคคลภายนอก)</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile4" multiple="">
                        <label class="custom-file-label" for="customFile4">Choose file</label>
                    </div>
                    <label>ค่าใช้จ่ายในการซ่อมแซม/ใบเสนอราคาการซ่อมแซม</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile5" multiple="">
                        <label class="custom-file-label" for="customFile5">Choose file</label>
                    </div>
                    <label>สำเนาบัตรประจำตัวประชาชน</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile6" multiple="">
                        <label class="custom-file-label" for="customFile6">Choose file</label>
                    </div>
                    <label>สำเนาทะเบียนบ้าน</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile7" multiple="">
                        <label class="custom-file-label" for="customFile7">Choose file</label>
                    </div>
                    <label>อัพโหลดไฟล์เอกสารอื่นๆ</label>
                    <div class="custom-file">
                        <br>
                        <input type="file" class="custom-file-input" id="customFile8" multiple="">
                        <label class="custom-file-label" for="customFile8">Choose file</label>
                    </div>*@

                <h4 class="mb-3">เอกสารประกอบการพิจารณาค่าสินไหมทดแทน</h4>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>หนังสือเรียกร้องค่าสินไหมทดแทน</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile" multiple="">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <label>กรมธรรม์ประกันภัย</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile2" multiple="">
                            <label class="custom-file-label" for="customFile2">Choose file</label>
                        </div>
                        <label>ภาพถ่ายความสูญเสียหรือความเสียหายของทรัพย์สินที่เอาประกันภัย</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile3" multiple="">
                            <label class="custom-file-label" for="customFile3">Choose file</label>
                        </div>
                        <label>สำเนาใบแจ้งความเพื่อดำเนินคดี (ในกรณีเหตุโจรกรรม/ได้รับความเสียหายจากบุคคลภายนอก)</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile4" multiple="">
                            <label class="custom-file-label" for="customFile4">Choose file</label>
                        </div>
                        <label>ค่าใช้จ่ายในการซ่อมแซม/ใบเสนอราคาการซ่อมแซม</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile5" multiple="">
                            <label class="custom-file-label" for="customFile5">Choose file</label>
                        </div>
                        <label>สำเนาบัตรประจำตัวประชาชน</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile6" multiple="">
                            <label class="custom-file-label" for="customFile6">Choose file</label>
                        </div>
                        <label>สำเนาทะเบียนบ้าน</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile7" multiple="">
                            <label class="custom-file-label" for="customFile7">Choose file</label>
                        </div>
                        <label>อัพโหลดไฟล์เอกสารอื่นๆ</label>
                        <div class="custom-file">
                            <br>
                            <input type="file" class="custom-file-input" id="customFile8" multiple="">
                            <label class="custom-file-label" for="customFile8">Choose file</label>
                        </div>
                    </div>
                </div>
                <br />
                <h4 class="mb-3">เงื่อนไขข้อตกลง</h4>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>
                            ข้าพเจ้าตกลงว่าบรรดาการกระทำต่าง ๆ ที่ทำขึ้นบนระบบอิเล็กทรอนิกส์ ให้ถือว่าเป็นการทำธุรกรรมทางอิเล็กทรอนิกส์ ซึ่งอยู่ภายใต้กฎหมายตามพระราชบัญญัติว่าด้วยธุรกรรมทางอิเล็กทรอนิกส์ พ.ศ. 2544 และภายใต้บังคับของกฎหมายที่เกี่ยวข้อง ที่มีอยู่ในขณะนี้ หรือที่จะมีต่อไปในภายหน้า ทั้งนี้หากเกิดความเสียหายใดๆ โดยหนังสือฉบับนี้ข้าพเจ้าขอรับรองว่าข้าพเจ้าได้ตรวจสอบข้อมูลที่บันทึกอย่างละเอียดตามความรู้และความเข้าใจของข้าพเจ้าอย่างดีที่สุดแล้วว่า ข้อมูลดังกล่าวเป็นความจริง ถูกต้อง และครบถ้วนสมบูรณ์ทุกประการ
                        </label>
                    </div>
                    <br />
                    <div class="col-md-12 mb-3">
                        ** ข้อควรระวัง : การเจตนาทำให้ทรัพย์สินที่ทำประกันภัยเกิดความเสียหายและการแจ้งเรียกร้องประกันภัยเป็นเท็จ เป็นความผิดตามประมวลกฎหมายอาญา
                    </div>
                    <br />
                    <br />
                    <p>
                        <div class="col-md-12 mb-3">
                            <input type="checkbox" name="agree" id="agree" value="0">
                            <label style="display:inline; float:none" for="agree">ข้าพเจ้ายืนยันว่าข้อมูลนี้เป็นความจริงทุกประการและตกลงยอมรับในเงื่อนไขด้านบน</label>
                        </div>
                    </p>
                </div>


                <br>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block btnForm" id="submitButton" onclick="SendForm()">ส่งแบบฟอร์ม</button>
                <br />
                @*</form>*@
            </div>
        </div>
    </div>



    <!-- Plugin JavaScript -->
    @* <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>*@
    @*<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

    <script src="~/js/jquery.timepicker.min.js"></script>
   

</body>

</html>

<script type="text/javascript">

    $(document).ready(function () {
        $("#meterialChk").hide();
        $("#meterial").hide();
        $("#meterialFloor").hide();
        $("#meterialWall").hide();
        $("#meterialCeiling").hide();
        $("#meterialRoof").hide();
        $("#meterialGlass").hide();
        $("#meterialEtc").hide();
        $(".meterialAnsFloor").hide();
        $(".meterialAnsWall").hide();
        $(".meterialAnsCeiling").hide();
        $(".meterialAnsRoof").hide();
        $(".meterialAnsGlass").hide();
        GetTypeHouse();
        GetTypeJob();
        GetEachJob();

        $('.timepicker').timepicker({
        timeFormat: 'H:mm ',
        interval: 15,
        defaultTime: '11',
        startTime: '10:00',
        dynamic: true,
        dropdown: true,
        scrollbar: true
        });

        //$("input.date").on("change", function() {
        //    this.setAttribute(
        //    "data-date",
        //    moment(this.value, "YYYY-MM-DD")
        //    .format( this.getAttribute("data-date-format") )
        //    )
        //}).trigger("change")
    });

    function GetTypeHouse() {
        $("#typeHouse").change(function () {
            var test = this.value;
            if (test == 0) {
                $("#meterialChk").hide();
                $("#meterialFloor").hide();
                $("#meterialWall").hide();
                $("#meterialCeiling").hide();
                $("#meterialRoof").hide();
                $("#meterialGlass").hide();
                $("#meterialEtc").hide();
                $(".meterialAns").hide();
            }
            if (test != 0) {
                $("#meterialChk").show();
            }
        });

    }
    function GetTypeJob() {
        $("#floor").change(function () {

            if ($('#floor').is(":checked") == true) {
                $("#meterialFloor").show();
            } else {
                $("#meterialFloor").hide();
                 $(".meterialAnsFloor").hide();
            }
        })
        $("#wall").change(function () {
            if ($('#wall').is(":checked") == true) {
                $("#meterialWall").show();
            } else {
                $("#meterialWall").hide();
                 $(".meterialAnsWall").hide();
            }
        })
        $("#ceiling").change(function () {
            if ($('#ceiling').is(":checked") == true) {
                $("#meterialCeiling").show();
            } else {
                $("#meterialCeiling").hide();
                 $(".meterialAnsCeiling").hide();
            }
        })
        $("#roof").change(function () {
            if ($('#roof').is(":checked") == true) {
                $("#meterialRoof").show();
            } else {
                $("#meterialRoof").hide();
                 $(".meterialAnsRoof").hide();
            }
        })
        $("#glass").change(function () {
            if ($('#glass').is(":checked") == true) {
                $("#meterialGlass").show();
            } else {
                $("#meterialGlass").hide();
                 $(".meterialAnsGlass").hide();
            }
        })
        $("#etc").change(function () {
            if ($('#etc').is(":checked") == true) {
                $("#meterialEtc").show();
                //$(".meterialAnsEtc").show();
            } else {
                $("#meterialEtc").hide();
                //$(".meterialAnsEtc").hide();
            }
        })

    }
    function GetEachJob() {
        $("#meterialFloorSelect").change(function () {
            var test3 = this.value;
            if (test3 == 0) {
                $(".meterialAnsFloor").hide();
            }
            else
                $(".meterialAnsFloor").show();
        })
        $("#meterialWallSelect").change(function () {
            var test3 = this.value;
            if (test3 == 0) {
                $(".meterialAnsWall").hide();
            }
            else
                $(".meterialAnsWall").show();
        })
        $("#meterialCeilingSelect").change(function () {
            var test3 = this.value;
            if (test3 == 0) {
                $(".meterialAnsCeiling").hide();
            }
            else
                $(".meterialAnsCeiling").show();
        })
       $("#meterialRoofSelect").change(function () {
            var test3 = this.value;
            if (test3 == 0) {
                $(".meterialAnsRoof").hide();
            }
            else
                $(".meterialAnsRoof").show();
        })

       $("#meterialGlassSelect").change(function () {
            var test3 = this.value;
            if (test3 == 0) {
                $(".meterialAnsGlass").hide();
            }
            else
                $(".meterialAnsGlass").show();
        })
        // $("#meterial").change(function () {
        //    var test2 = this.value;
        //    if (test2 == 0) {
        //        $("#meterialFloor").hide();
        //        $("#meterialWall").hide();
        //        $("#meterialCeiling").hide();
        //        $("#meterialRoof").hide();
        //        $("#meterialGlass").hide();
        //        $("#meterialEtc").hide();
        //        $(".meterialAns").hide();
        //    }
        //    if (test2 == 1) {
        //        $("#meterialFloor").show();

        //    }if (test2 == 2) {
        //        $("#meterialWall").show();

        //     }if (test2 == 3) {
        //        $("#meterialCeiling").show();

        //     }if (test2 == 4) {
        //        $("#meterialRoof").show();

        //     }if (test2 == 5) {
        //        $("#meterialGlass").show();
        //     }if (test2 == 6) {
        //         $("#meterialEtc").show();
        //         $(".meterialAns").show();
        //     }

        // });

        //$("#meterialFloorSelect").change(function () {
        //    var test3 = this.value;
        //    if (test3 == 0) {
        //        $(".meterialAns").hide();
        //    }
        //    else
        //        $(".meterialAns").show();
        //});

        // $("#meterialWallSelect").change(function () {
        //    var test3 = this.value;
        //    if (test3 == 0) {
        //        $(".meterialAns").hide();
        //    }
        //    else
        //        $(".meterialAns").show();
        // });

        //$("meterialCeilingSelect").change(function () {
        //    var test3 = this.value;
        //    if (test3 == 0) {
        //        $(".meterialAns").hide();
        //    }
        //    else
        //        $(".meterialAns").show();
        //});

        //$("meterialRoofSelect").change(function () {
        //    var test3 = this.value;
        //    if (test3 == 0) {
        //        $(".meterialAns").hide();
        //    }
        //    else
        //        $(".meterialAns").show();
        //});
        //$("meterialGlassSelect").change(function () {
        //    var test3 = this.value;
        //    if (test3 == 0) {
        //        $(".meterialAns").hide();
        //    }
        //    else
        //        $(".meterialAns").show();
        //});
        //$("meterialEtcSelect").change(function () {
        //    var test3 = this.value;
        //    if (test3 == 0) {
        //        $(".meterialAns").hide();
        //    }
        //    else
        //        $(".meterialAns").show();
        // });
    }

    function SendForm() {
        if ($('#agree').is(':checked')) {
            if ($('#floor').is(':checked')) {
                var floor = $('#floor').val()
                var meterialFloorSelect = $('#meterialFloorSelect').val()
                var piecesFloor = $('#piecesFloor').val()
                var unitFloor = $('#unitFloor').val()
            }
            if ($('#wall').is(':checked')) {
                var wall = $('#wall').val()
                var meterialWallSelect = $('#meterialWallSelect').val()
                var piecesWall = $('#piecesWall').val()
                var unitWall = $('#unitWall').val()
            }

            if ($('#ceiling').is(':checked')) {
                var ceiling = $('#ceiling').val()
                var meterialCeilingSelect = $('#meterialCeilingSelect').val()
                var piecesCeiling = $('#piecesCeiling').val()
                var unitCeiling = $('#unitCeiling').val()
            }

            if ($('#roof').is(':checked')) {
                var roof = $('#roof').val()
                var meterialRoofSelect = $('#meterialRoofSelect').val()
                var piecesRoof = $('#piecesRoof').val()
                var unitRoof = $('#unitRoof').val()
            }

            if ($('#glass').is(':checked')) {
                var glass = $('#glass').val()
                var meterialGlassSelect = $('#meterialGlassSelect').val()
                var piecesGlass = $('#piecesGlass').val()
                var unitGlass = $('#unitGlass').val()
            }

            if ($('#etc').is(':checked')) {
                var etc = $('#etc').val()
                var meterialEtcSelect = $('#meterialEtcSelect').val()
                var piecesEtc = $('#piecesEtc').val()
                var unitEtc = $('#unitEtc').val()
            }
            //if ($('#customFile').val() != "") {
            //    var file = $('#customFile').get(0).files;
            //    var dataImg = new FormData();
            //    dataImg.append("dataImg",file[0]);
            //}
            $.ajax(
                {
                    type: "POST",
                    url: '/GeneralClaimCustomer/Create',
                    data:
                    //JSON.stringify(data)
                    {
                        date: $('#date').val(),
                        incidentDate: $('#incidentDate').val(),
                        timeIncidentDate: $('#timeIncidentDate').val(),
                        nameClaim: $('#nameClaim').val(),
                        phoneClaim: $('#phoneClaim').val(),
                        emailClaim: $('#emailClaim').val(),
                        nameContact: $('#nameContact').val(),
                        phoneContact: $('#phoneContact').val(),
                        emailContact: $('#emailContact').val(),
                        insuranceNo: $('#insuranceNo').val(),
                        place: $('#place').val(),
                        soi: $('#soi').val(),
                        road: $('#road').val(),
                        province: $('#province').val(),
                        typeHouse: $('#typeHouse').val(),

                        floor: floor,
                        wall: wall,
                        ceiling: ceiling,
                        roof: roof,
                        glass: glass,
                        etc: etc,

                        meterialFloorSelect: meterialFloorSelect,
                        piecesFloor: piecesFloor,
                        unitFloor: unitFloor,
                        meterialWallSelect: meterialWallSelect,
                        piecesWall: piecesWall,
                        unitWall: unitWall,
                        meterialCeilingSelect: meterialCeilingSelect,
                        piecesCeiling: piecesCeiling,
                        unitCeiling: unitCeiling,
                        meterialRoofSelect: meterialRoofSelect,
                        piecesRoof: piecesRoof,
                        unitRoof: unitRoof,
                        meterialGlassSelect: meterialGlassSelect,
                        piecesGlass: piecesGlass,
                        unitGlass: unitGlass,
                        meterialEtcSelect: meterialEtcSelect,
                        piecesEtc: piecesEtc,
                        unitEtc: unitEtc,

                        incidentPrice: parseInt($('#incidentPrice').val()),

                        causeIncident: $('#causeIncident').val(),
                        causeIncidentDetail: $('#causeIncidentDetail').val(),

                        //dataImg: file,
                    }
                    ,
                    success: function (result) {
                        alert("Success")
                        window.location.href = '@Url.Action("Index", "GeneralClaimCustomer")';
                    }
                })
        }
        else
            alert("not check")
    }
</script>


